extends layout

block content
    h1= Sign up
    form(method='post')
        p
            label(for='name') Enter your name:
            input(type='text', name='name', id='name')
        p
            label(for='password') Enter your email:
            input(type='password', name='password', id='password')
        p
            input(type='submit', value='sign_up')